:host([hidden]),::slotted([hidden]) {display:none !important;}
dialog[open] {
  width:100%; max-width:100%;
  min-height:max(100%,100dvh); max-height:max(100%,100dvh);
  padding:4rem 0 0 0; margin:0;
  border:none;
  box-sizing:border-box;
  background:rgba(0,0,0,.9);

  &,slot {
    scrollbar-width:thin;
    scrollbar-color:rgba(127,127,127,.9) transparent;
  }
}
form {
  position:fixed; top:0; z-index:9;
  width:100%; height:4rem;
  display:flex;
  background:rgba(90,90,90,.9);

  button {
    font-size:1.25em; color:white;
    text-align:center; line-height:4rem;
    padding:0 .5rem;
    user-select:none;
    
    &.close {flex-grow:1;}
    &:not(.close) {filter:drop-shadow(0 0 .1em white);}
  }
  &:not(:has(~figure)) button:not(.close) {display:none;}
}
figure {
  margin:.5rem 0;
  font-size:calc(var(--f,1)*1em);
  
  slot {
    display:flex; gap:0 .5rem; 
    overflow-x:scroll;
    
    &.PI-dragged {pointer-events:none;}
  }
}
button {
  all:unset;
  cursor:pointer;
}
::slotted(img) {
  user-select:none; -webkit-user-drag:none;
}
::slotted(:not(img)) {
  margin:1em auto;
  color:white;
}
